/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
/* ---------- CSS ajouté ---------- */

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #B1663C;
}

#introduction {
	margin-bottom: 139px;
	
}
/* --------------------------------- */
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background: white;
}
footer nav li {
	background: white;
}

/* ---------- Buttons filters (CSS ajouté) ---------- */
#filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;
}

#filters button {
	border: 1px solid #1D6154;
	border-radius: 60px;
	height: 37px;	
	font: inherit;
	color: #1D6154;
	background: white;
	font-weight: 700;
	font-family: 'Syne';
}

#buttonAll {
	padding: 9px 30px 9px 28px;
}
#buttonObjects {
	padding: 9px 22px 9px 20px;
}

#buttonAppartments {
	padding: 9px 15px 9px 14px;
}

#buttonHotelAndRestaurants {
	padding: 9px 11px 9px 9px;
}

#filters button:hover {
	background: #1D6154;
	color: white;
}

/* ---------- Log In (CSS ajouté) ---------- */
#logIn {
	width: 50%;
	margin: auto;
}
#logIn > * {
	text-align: center;
}

#logIn form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#logIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#logIn label {
	margin: 2em 0 1em 0;
}

#logIn a {
	text-align: center;
	color: black;
}

#logIn {
	margin-bottom: 355px;
}

/* ---------- CODE AJOUTE POUR LA TRANSITION AVEC LE MODE EDITEUR ---------- */

#headerEdition {
	display: flex;
	flex-direction: column;	
}

#bloc-mode-editeur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    background: black;
    margin-bottom: 38px;
	z-index: 1;
}

#bloc-mode-editeur p {
    padding: 0 21px 0 13px;
    background: black;
    color: white;
}

#bloc-mode-editeur button {
    border-radius: 60px;
    background: white;
}

#bloc-mode-editeur i {
    background: black;
    color: white;
}

#bloc-mode-editeur button {
	height: 38px;
	font-size: 14px;
	border: none;
	padding: 11px 23px;
    
}

#bloc-header {
    display: flex;
    justify-content: space-between;
}

a:hover {
	color: #B1663C;
}


/* SECTION INTRO MODIFIER */

#figureIntro {
	display: flex;
	flex-direction: column;
}

#figureIntro a {
	padding-left: 57px;
	margin-top: 15px;
}



/* BOUTON MODIFIER H2 */

#bloc-h2 h2 {
	margin-bottom: 0;
	padding-right: 31px;
}

#bloc-h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 68px;
}

/* BOUTON figureIntro, block-picturesh2 */
#figureIntro a i,
#bloc-h2 a i
{
	padding-right: 11px;
}



/* CSS POUR MODAL */
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	

}
.modal-wrapperTravaux img {
	width: 100%;
	height: 104px;
	object-fit: cover;
}

.modal-wrapperTravaux {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
	grid-column-gap: 10px;
	grid-row-gap: 12px;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 38px;
	background-color: #FFFEF8;
}


.modal-wrapper,
.modal-wrapper-add-pictures {
	padding: 60px 105px 48px 105px;
	width: 420px;
	/* max-width: 100vh;
	max-height: 100vh; */
	height: 622px;
	/* position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0; */
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

#formAddTravaux {
	border-radius: 10px;
}

.modal-wrapper-add-pictures {
	height: 562px;
}


.modal-wrapper h2,
.modal-wrapper-add-pictures h2 {
	text-align: center;
	margin-bottom: 46px;
	color: black;
	font-family: "Work Sans";
}

.modal-wrapper input[type="submit"] {
	border: none;
	height: 36px;
	width: 237px;
	margin: auto;
	margin-bottom: 23px;
}

.modal-wrapper button[id="supprimerGalerie"] {
	background-color: white;
	border: none;
	color: red;
	width: max-content;
	margin: auto;
}

.figureModal {
	position: relative;
}


.btnPoubelle {
	position: absolute;
	right: 6px;
	top: 6px;
	border: none;
	padding: 4px;
	border-radius: 2px;
	font-size: 9px;
	background: black;
	color: white;
	border-radius: 2px;
	opacity: 0;
}

.iconFlecheEdit {
	position: absolute;
	top: 6px;
	right: 26px;
	border: none;
	padding: 4px;
	border-radius: 2px;
	display: none;
	font-size: 9px;
	background: black;
	color: white;
	border-radius: 2px;
	opacity: 0;
}
.figureModal:hover .iconFlecheEdit,
.figureModal:hover .iconPoubelle{
	opacity: 1;
}

.js-btn-close,
.js-btn-close-pictures {
	position: absolute;
	right: 36px;
	top: 32px;
	font-size: 20px;
	border: none;
	background-color: #FFFEF8;
	padding: 0;
}

/* CSS div ajout travaux */

.arrow-left {
	position: absolute;
	left: 36px;
	top: 32px;
	font-size: 20px;
	border: none;
	background-color: #FFFEF8;
	padding: 0;
}

#bloc-add-pictures {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E8F1F7;
	width: 420px;
	height: 169px;
	margin-bottom: 30px;
	
}


#bloc-add-pictures p {
	background-color: #E8F1F7;
	font-size: 10px;
	margin-bottom: 19px;
}

.pictures-mountain {
	font-size: 58px;
	background-color: #E8F1F7;
	margin-top: 15px;
}

.modal-wrapper-add-pictures label {
	font-weight: 500;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.modal-wrapper-add-pictures input[name="titre"] {
	margin-bottom: 21px;
}

.modal-wrapper-add-pictures input[type="text"] {
	height: 51px;
	padding: 0;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

.modal-wrapper-add-pictures select[name="categorie"] {
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	appearance: none;
	padding-right: 40px;
}

#input-pictures {
	display: flex;
	flex-direction: column;
	
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
	margin-bottom: 32px;
}

.modal-wrapper-add-pictures input[value="Valider"] {
	border: none;
	height: 36px;
	width: 237px;
	background: #A7A7A7;
	display: flex;
	margin: 0;
	justify-content: center;
	align-self: center;
}


.custom-select {
	display: flex;
	flex-direction: column;
	position: relative;
	
}

.chevron-down {
	display: block;
	position: absolute;
	top: 42px;
	right: 20px;
	pointer-events: none;
	color: #6C6C6C;
}



label[for="file"] {
	border: none;
	background-color: #CBD6DC;
	color: #306685;
	height: 36px;
	width: 173px;
	font-size: 14px;
	font-family: 'Work Sans';
	margin-top: 21px;
	margin-bottom: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

input[type="file"] {
	opacity: 0;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	position: absolute;
	bottom: 43px;
}

#imgFileInput {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.image_delete_button {
	background: black;
	color: white;
	border-radius: 2px;
	border: none;
	font-size: 9px;
	padding: 4px;
	position: absolute;
	top: 6px;
	right: 10px;
	opacity: 0;
}

#figureImageFile {
	width: 175px;
	height: 100%;
	position: absolute;
}

#figureImageFile:hover .image_delete_button {
	opacity: 1;
}

.messageErreur {
	color: red;
	position: absolute;
	bottom: 20px;
	left: 22%;
	
}

#confirmAddWorks {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Syne';
	z-index: 1;
	top: 35%;
	left: 25%;
	width: 50%;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#btnConfirmAddWorks {
	position: absolute;
	background-color: #1D6154;
	color: white;
	border: none;
	bottom: 10px;
	border-radius: 10px;
	padding: 7px;
	width: 50px;
}

#confirmAddWorks p {
	margin-top: 25px;
}